* {
    box-sizing: border-box;
  }

body {
    padding: 40px;
    margin: 0 auto;
    max-width: 1400px;
}

.background {
    background-color: lightgrey;
}

h1 {
    font-family: "Inconsolata", sans-serif;
    text-align: center;
}
